.cta-actions {
    justify-content: space-around;
    margin-top: 32px;
    margin-bottom: 32px;
}

.cta-actions .action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 20%;
    width: 100%;
    height: 132px;
    padding: 24px 16px;
    border-radius: 8px;
    gap: 8px;
    background-color: #E7EBEF;
}

.cta-actions .action p {
    font-family: Public Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #0B3B60;
}

.cta-actions .action img {
    width: 52px;
}