.input-wrapper {
    gap: 8px;
    padding: 32px;
}

.input-wrapper .input-group {
    min-width: 400px;
    
}

.input-wrapper .input-group i {
    background-color: #EDEDED;
    height: 52px;
    width: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px 0 0 8px;
    
}


.input-wrapper .input-group input{
    background-color: #F8F8F8;
    border: none;
    width: 100%;
    border-radius: 0 8px 8px 0;
    padding: 12px 8px;
}

.input-wrapper button {
    background-color: #0B3B60;
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
    color: #FFFFFF;
    height: 52px;
    width: 85px;
    border: none;
}

